<!--*************(ion-modal-view)=EFECTO DE BARRA DESPLAZADA HACIA ARRIBA************-->
<ion-modal-view>
<!--*************************   (ion-header-bar)   **********************************-->
<!--*********  Añade una barra de encabezado fijo por encima de cierto contenido. ***-->  
  

  <ion-header-bar class="bar-dark">
      <h1 class="title">Mis Items</h1>
      <div class="buttons">
        <button class="button button-icon ion-star">(0)
        </button>
      </div>
       <div class="buttons">
        <button class="button button-icon ion-person" ng-click="closeLogin()">
        </button>
      </div>
    </ion-header-bar>
    <!--***** CONTENIDO DE PAGINA ITEMS   *********-->
    <ion-content>
    <br><br>
    <h3>:(</h3>
    <h1>Aun no hay items</h1>
    </ion-content> 
</ion-modal-view>