<ion-side-menus  enable-menu-with-back-views="false">
  <ion-side-menu-content >
    <!--***** barra de contenido principal *****-->
     <ion-nav-bar  class="barraMenu" class="bar-stable">
      <!--***** boton retorno menu principal *****-->
      <ion-nav-back-button>
      </ion-nav-back-button>
      <!--***** boton simbolo persona menu items *****-->
       <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-person" ng-click="login()" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <!--***** visualizacion contenido menu principal *****-->
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

</ion-side-menus>
