/* Empty. Add your own CSS if you like */
/* Empty. Add your own CSS if you like */
/********* Estilo de cuadros menu principal *************/
.listas{
     display:inline-block;
     height: 160px;
     width: 160px;
     text-align: center;
     font-size:17px;
     border-style: hidden;
    
    
}
.color{
    background-color: #D8D8D8;
    color:black;
    height: 135px;
    width: 145px;
    border-radius: 10px;   
    padding-top: 50px;
    margin-left:-10px;
    margin-top: -5px;
   
  
    
}
/*********************************************************/
/****************** DESCUEDNTOS **************************/
.descuentos
{
    background-color:  #E6E6E6;
    border-radius: 5px;
    height:145px;
    width: 360px;
    padding-top: 10px;
    padding-left: 10px;
    font-weight:700; 
}
.imagenDescuentos
{
    background-color: white;
    width: 130px;
    height:100px;
    margin-top: 10px;
    padding-top:25px;
    padding-left: 15px;
    font-weight:200; 
    display:inline-block;
    border-radius: 5px;
    color:darkgrey;
}
.tituloDescuentos
{
    color:black;
    margin-left: 190px;
    margin-top: -85px;
    
}
.botonCanjear
{
    height: 30px;
    width: 110px;
    border-radius: 4px;
    margin-left: 175px;
    margin-top: 20px;    
}
.tituloCanjear
{
    margin-top: -10px;
    margin-left: 10px;
    text-align: center;
    color:black;
    font-size:15px; 
    
}
.compartir
{
   
    height: 25px;
    width: 100px;
    margin-left: 235px;
    margin-top: -120px;
    
    text-align: center;
    
}
.CodigoBarras{
margin-left: 90px;
}
.CajaCanjear{
background-color: #BDBDBD;
width: 399px;
}
.TituloCanjear{
    text-align: center;
}
.compartir2
{
   height: 200px;
    width: 50px;
    margin-left: 340px;
    margin-top: -190px;
}
/*********************************************************/
.barraMenu
{
    background-color: #BDBDBD;
}
.button-icon
{   
    color:black;
}